/**
*------------------------------------------------------------------------------------
*	Partials/Base
*------------------------------------------------------------------------------------
*/		
//Neat variables

$laptop_reset: new-breakpoint(min-width 781px 12);
$laptop: new-breakpoint(max-width 1140px 12);
$tablet: new-breakpoint(max-width 780px 12);
$mobile: new-breakpoint(max-width 480px 12);
$monitor: new-breakpoint(min-width 1141px 12);

@mixin child($n) {
     &:nth-child(#{$n}){
           margin-top:0px;
     }
 }


body{
	line-height:24px;
	&:before{
		width:100%;
		max-width: 100%;
		content:none;
	}
	&:hover .container_ctm{
		background: url('../images/gridbgtr28.png');
	}
	&:hover{
		&:before{
		width:100%;
		max-width: 100%;
		content:'';
		}
	} 
}
.menu-icon{
		display: inline-block;
		@include span-columns(3);
		overflow: hidden;
		//height:1em;
}
.site-nav{
	@include span-columns(9);
	overflow: hidden;
	

	.trigger{
		
		a{
			float:right;
			display: inline-block;
		}
	}
}

/**
*------------------------------------------------------------------------------------
*	VertycalRythm
*------------------------------------------------------------------------------------
*/	
.menu-icon{
	padding-top:1.5em;
	background-color: #333;
	color:#fff;	
}
.site-nav{

	.trigger{	
		a{
			padding:0.25em 0em 1.25em 0.75em; 
			font-size: 1.125em;
			font-weight: 500;
		}
	}
}

dl {
	dt {
    	@include child(1);
	}
}