/**
*------------------------------------------------------------------------------------
*  Partials/Layout
*------------------------------------------------------------------------------------
*/        



/*
Sticky footer
*/
html {
  position: relative;
  min-height: 100%;


    body {
    //overflow: hidden;
    //margin-bottom: 130px;
  }
}
.container_ctm{
  margin-bottom:130px;
  overflow: hidden;
  @include span-columns(10);
  @include shift(1);
  //@include outer-container;
  /*.wrapper{
    @include media($laptop) {
      @include span-columns(9);
      @include shift(1);
      
    }
    @include media($tablet) {

      @include span-columns(11);
      @include shift(0);
    }
    
      @include media($mobile) {
      @include span-columns(11);
          
    }
      
    @include media($monitor) {
      @include span-columns(8);
      @include shift(2);
      
    }
  }*/
}

footer {
  .wrapper{
    @include span-columns(10); 
    @include shift(1);
  //@include outer-container;
    .footer-col{
     @include span-columns(4); 
    }
    .footer-col-3{
      @include span-columns(8); 
    }

  }
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
}

.page-content{


}
footer{
  width:100%;
}
