/**
*------------------------------------------------------------------------------------
*	Partials/Base
*------------------------------------------------------------------------------------
*/		
//Neat variables

$laptop_reset: new-breakpoint(min-width 781px 12);
$laptop: new-breakpoint(max-width 1140px 12);
$tablet: new-breakpoint(max-width 780px 12);
$mobile: new-breakpoint(max-width 480px 12);
$monitor: new-breakpoint(min-width 1141px 12);

@mixin child($n) {
     &:nth-child(#{$n}){
           margin-top:0px;
     }
 }

html{font-size: 100%;}
body{
	font-size: 1.125em; //18px
	line-height:1.55556em; //28px

	&:before{
		width:100%;
		max-width: 100%;
		content:none;
	}
	&:hover .container_ctm{
		background: url('../images/gridbgtr28.png');
	}
	&:hover{
		&:before{
		width:100%;
		max-width: 100%;
		content:'';
		}
	} 
}
.site-title{
		display: inline-block;
		@include span-columns(3);
		overflow: hidden;
		//height:1em;
}
.site-nav{
	@include span-columns(9);
	overflow: hidden;
	

	.trigger{
		
		a{
			float:right;
			display: inline-block;
		}
	}
}

/**
*------------------------------------------------------------------------------------
*	VertycalRythm
*------------------------------------------------------------------------------------
*/	
.site-title{
	padding-top:1.55556em;
	background-color: #333;
	color:#fff;	
}
.site-nav{

	.trigger{	
		a{
			padding-left:0.88889em; 
			//font-size: 1.125em;
			font-weight: 500;
		}
	}
}

//dl {
//	dt {
//    	@include child(1);
//	}
//}