<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container_ctm">

      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/scripts/jquery.min.js"></script>
    
    <script language="javascript" type="text/javascript">
      $('#ossm').click(function () {
        $("body").toggleClass( "grid" );
      });
    </script>
    
    <script language="javascript" type="text/javascript">

    $(function() {

      if($('pre').length >0 ){
        
        
        hljs.initHighlightingOnLoad();
        
      }
      
    });

    </script>

  </body>

</html>
